.side-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.603);
    position: absolute;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-icon {
    margin-left: 10px;
}

.button-sidebar {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;
}

.button-sidebar:hover {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.logout-button-sidebar {
    padding: 10px;
    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;
}

.logout-button-sidebar:hover {
    border: 2px solid rgb(228, 63, 63);
    color: rgb(228, 63, 63);
}


.side-bar-link {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.side-bar-link:hover {
    color: var(--secondary-color);
}

.side-bar-links {
    height: 60vh;
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-line {
    border: 1px double black;
    width: 20px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 40px;
    left: 20px;
}

@media all and (max-width:842px) {
    .side-bar {
        display: none;
    }

    .active-sidebar {
        display: flex;
        backdrop-filter: blur(10px);
    }
}